.resetSuccessful .content {
  margin-top: 4rem;
}
.resetSuccessful .brand {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resetSuccessful img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.resetSuccessful .heading {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  margin: 1.5rem 0;
}

.resetSuccessful .preamble_button {
  max-width: 21rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 0.5rem;
}

.resetSuccessful .preamble {
  font-size: 0.89rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.849);
}

.resetSuccessful button {
  font-size: 1.025rem;
  color: white;
  background-color: #006270;
  border: 1px solid #006270;
  padding: 0.65rem 0;
  cursor: pointer;
}
