.pharmacistCard1 {
  width: 49%;
}

.pharmacistCard1 .cardContainer {
  /* width: %; */
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  align-items: center;
}

.pharmacistCard1 .card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 235px;
  height: 20vh;
  margin: 0 auto;
  padding: 1.5rem 1.2rem;
  border-radius: 5px;
}

.pharmacistCard1 .icon_details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pharmacistCard1 .icon_container {
  padding: 0.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pharmacistCard1 .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pharmacistCard1 .card.customers {
  border-left: 2px solid rgb(78, 78, 255);
  border-bottom: 2px solid rgb(78, 78, 255);
}

.pharmacistCard1 .card.customers .icon_container {
  border: 1px solid rgb(78, 78, 255);
}
.pharmacistCard1 .card.customers .icon {
  background-color: rgb(78, 78, 255);
}

.pharmacistCard1 .card.sales {
  border-left: 2px solid green;
  border-bottom: 2px solid green;
}

.pharmacistCard1 .card.sales .icon_container {
  border: 1px solid green;
}
.pharmacistCard1 .card.sales .icon {
  background-color: green;
}

.pharmacistCard1 .card.profit {
  border-left: 2px solid orange;
  border-bottom: 2px solid orange;
}

.pharmacistCard1 .card.profit .icon_container {
  border: 1px solid orange;
}
.pharmacistCard1 .card.profit .icon {
  background-color: orange;
}
.pharmacistCard1 .card.stock {
  border-left: 2px solid red;
  border-bottom: 2px solid red;
}

.pharmacistCard1 .card.stock .icon_container {
  border: 1px solid red;
}
.pharmacistCard1 .card.stock .icon {
  background-color: red;
}

.pharmacistCard1 .icon #card1-icon {
  color: white;
}

.pharmacistCard1 .number {
  font-size: 1.5rem;
  font-weight: 500;
}

.pharmacistCard1 .heading {
  font-weight: 500;
  color: #252525;
}

@media screen and (max-width: 1074px) {
  .pharmacistCard1 {
    width: 100%;
  }

  .pharmacistCard1 .cardContainer {
    /* width: %; */
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
