.pharmacistMainDash {
  height: 100vh;
  overflow-y: scroll;
  padding: 1rem 0.5rem;
}

.pharmacistMainDash .section_two {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 1rem;
  padding: 1rem 0rem;
}

.pharmacistMainDash .section_three {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.pharmacistMainDash .section_four {
  margin-top: 2rem;
}

@media screen and (max-width: 1074px) {
  .pharmacistMainDash .section_two {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

@media screen and (max-width: 912px) {
  .pharmacistMainDash .section_three {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}
