.pharmacistDashboard {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  /* width: 100%; */
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 58px auto;
  transition: all 0.4s ease;
  background-color: rgb(178, 240, 178);
}
.pharmacistDashboard.open {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 12rem auto;
  transition: all 0.4s ease;
  background-color: rgb(178, 240, 178);
}

.pharmacistDashboard .pharmacistDashboardMain {
  height: 100vh;
  overflow-y: scroll;
}

@media screen and (max-width: 1164px) {
  .pharmacistDashboard {
    grid-template-columns: 58px auto;
  }
  .pharmacistDashboard.open {
    grid-template-columns: 10rem auto;
  }
}

@media screen and (max-width: 1024px) {
  .pharmacistDashboard {
    grid-template-columns: 58px auto;
  }
  .pharmacistDashboard.open {
    grid-template-columns: 10rem auto;
  }
}

@media screen and (max-width: 768px) {
  .pharmacistDashboard {
    grid-template-columns: auto;
    background-color: blue;
  }

  .pharmacistDashboard.open {
    grid-template-columns: auto;
  }
}
