.pharmacistCard4 {
  width: 48%;
}

.pharmacistCard4 .cardContainer {
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  height: 65vh;
}

.pharmacistCard4 .heading {
  font-size: 1.35rem;
  font-weight: 500;
}

.pharmacistCard4 .card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  width: 98%;
  height: 90%;
  overflow-y: scroll;
}

.pharmacistCard4 .medicine {
  width: 120px;
  height: 80px;
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 15px;
}

.pharmacistCard4 .name {
  font-size: 1.125rem;
  font-weight: 500;
}

@media screen and (max-width: 912px) {
  .pharmacistCard4 {
    width: 100%;
  }
}
