.pharmacistCard3 {
  width: 48%;
}

.pharmacistCard3 .flex {
  display: flex;
  justify-content: space-between;
}

.pharmacistCard3 .heading {
  font-size: 1.35rem;
  font-weight: 500;
}

.pharmacistCard3 .cardContainer {
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  height: 65vh;
}

.pharmacistCard3 .card {
  margin-top: 1rem;
  min-width: 500px;
  height: 90%;
  overflow-x: scroll;
  overflow-y: scroll;
}

.pharmacistCard3 .titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
}

.pharmacistCard3 .titles > div {
  min-width: 9.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #616161;
}

.pharmacistCard3 .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
}

.pharmacistCard3 .data > div {
  min-width: 9.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  font-weight: 500;
  margin: 1rem 0;
  padding: 0.5rem 0;
}

.pharmacistCard3 .chart {
  height: 10%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

@media screen and (max-width: 912px) {
  .pharmacistCard3 {
    width: 100%;
  }
}
