.pharmacistSideBar {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #252525;
  transition: all 0.4s ease;
}
.pharmacistSideBar.close {
  width: 58px;
  transition: all 0.4s ease;
}

.pharmacistSideBar .logo {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 0.35rem;
  display: flex;
  align-items: center;
}

.pharmacistSideBar.close .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pharmacistSideBar .logo img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.pharmacistSideBar.close .logo .logo-name {
  display: none;
  transition: all 0.4s ease;
  white-space: nowrap;
}

.pharmacistSideBar .nav-links {
  height: 100%;
  padding-top: 30px;
}

.pharmacistSideBar .nav-links li {
  position: relative;
  list-style: none;
  margin-top: 1rem;
  line-height: 40px;
  transition: all 0.4s ease;
}
.pharmacistSideBar .nav-links li .sub-menu {
  position: relative;
  list-style: none;
  margin-top: 1rem;
  transition: all 0.4s ease;
}

.pharmacistSideBar .nav-links li .drop-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pharmacistSideBar.close .nav-links li .drop-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pharmacistSideBar .nav-links li:hover {
  background-color: #423f3ffd;
}

.pharmacistSideBar .nav-links li .sideBar-Icon {
  height: 25px;
  min-width: 33px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
}
.pharmacistSideBar.close .nav-links li .sideBar-Icon {
  margin: 0.35rem auto;
  /*  */
}

.pharmacistSideBar .nav-links li .drop-links .sideBar-Icon {
  height: 25px;
  min-width: 33px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
}

.pharmacistSideBar.close .nav-links li .drop-links .sideBar-Icon {
  margin-left: 13px;
}

.pharmacistSideBar .nav-links li .drop-Icon {
  height: 25px;
  min-width: 33px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
}
.pharmacistSideBar.close .nav-links li .drop-Icon {
  display: none;
}

.pharmacistSideBar .nav-links li .drop-links .sub-menu {
  display: none;
}

.pharmacistSideBar .nav-links li a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.pharmacistSideBar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.pharmacistSideBar.close .nav-links li a .link_name {
  display: none;
}

.pharmacistSideBar .nav-links li .sub-menu {
  /* padding: 6px 6px 14px 35px; */
  background-color: #423f3ffd;
}
.pharmacistSideBar .nav-links li .sub-menu.none {
  /* padding: 6px 6px 14px 35px; */
  display: none;
  background-color: #423f3ffd;
}

.pharmacistSideBar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  margin-top: -15px;
  padding: 5px 10px;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.pharmacistSideBar .nav-links li .sub-menu a:hover {
  opacity: 1;
  pointer-events: auto;
}

.pharmacistSideBar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  /* padding: 10px 20px; */

  border-radius: 0 6px 6px 0;
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
.pharmacistSideBar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
}

.pharmacistSideBar .nav-links li .sub-menu .link_name {
  display: none;
}
.pharmacistSideBar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.pharmacistSideBar .nav-links li .sub-menu.blank {
  opacity: 0;
  pointer-events: none;
}
.pharmacistSideBar.close .nav-links li:hover .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  /* padding: 0px 20px 3px 16px; */
}

@media screen and (max-width: 1024px) {
  .pharmacistSideBar .heading {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pharmacistSideBar {
    display: none;
  }
}
